In [203]:
import pandas as pd
import numpy as np

In [204]:
M = pd.read_csv('MovieReviews-data.csv', index_col='Name')

In [205]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4,NaN,NaN,NaN,4,3,NaN,5,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5,NaN,NaN,4,5,4,4,NaN,4,5,5,5,4,4,NaN,5
Adrian Cavallaris,NaN,4,3,NaN,4,2,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
Ahmed Muheebuddin,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3

In [206]:
M.columns

Index([u'American Sniper', u'The Hunger Games: Mockingjay - Part 1',
       u'Guardians of the Galaxy', u'The Lego Movie', u'The Hobbit',
       u'Transformers', u'Malificent', u'Big Hero 6', u'Godzilla',
       u'Interstellar', u'How to Train your Dragon 2', u'Gone Girl',
       u'Divergent', u'The Fault in Our Stars', u'Unbroken',
       u'300: Rise of an Empire'],
      dtype='object')

In [207]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [208]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [210]:
#Most similar movie to The fault in our stars
similar_movie= get_recs('The Fault in Our Stars', M, 1)

In [211]:
similar_movie

[('Malificent', 0.39873118100855826)]

Looks like Malificent movie is most similar to The fault in our stars movie

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [214]:
#The movies I've seen
my_ratings = M.ix['Sunil Nandikanti'].dropna()
#my movie ratings
my_ratings.sort(ascending=False)
fav_movie = my_ratings.index[0]

C:\Users\sunil\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting

In [215]:
#My top rated movie 
fav_movie

'How to Train your Dragon 2'

In [217]:
#Top 7 movies recommended based on my classmates experiences 
recommendedMovies= get_recs(fav_movie, M, 7)
recommendedMovies

[('The Lego Movie', 0.33027019377932165),
 ('Divergent', 0.23392935297418507),
 ('Transformers', 0.22718604139360329),
 ('The Fault in Our Stars', 0.22514201090703723),
 ('Guardians of the Galaxy', 0.2226842108691125),
 ('The Hobbit', 0.20409308725855824),
 ('Gone Girl', 0.11123592989213005)]

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

In [218]:
#Complete list of the movies i have rated and not rated
my_list = M.ix['Sunil Nandikanti']
my_list.sort(ascending=False)
ratings = my_list.index[0]

C:\Users\sunil\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting
  app.launch_new_instance()

In [219]:
#Movies i have not rated 
my_list[my_list.isnull()]

American Sniper                         NaN
The Hunger Games: Mockingjay - Part 1   NaN
The Hobbit                              NaN
Malificent                              NaN
Big Hero 6                              NaN
Gone Girl                               NaN
Divergent                               NaN
Unbroken                                NaN
Name: Sunil Nandikanti, dtype: float64

I have not rated 8 movies

In [ ]:
#Lets try to get the similar movie for each of my un rated movies

In [221]:
recommendedMovies1= get_recs('American Sniper', M, 1)
recommendedMovies1

[('Divergent', 0.023288517393348744)]

In [223]:
recommendedMovies2= get_recs('The Hunger Games: Mockingjay - Part 1', M, 1)
recommendedMovies2

[('Guardians of the Galaxy', 0.28727462661538056)]

In [224]:
recommendedMovies3= get_recs('The Hobbit', M, 1)
recommendedMovies3

[('Transformers', 0.23158589781904093)]

In [228]:
recommendedMovies4= get_recs('Big Hero 6', M, 1)
recommendedMovies4

[('Transformers', 0.20440760618623235)]

In [229]:
recommendedMovies5= get_recs('Gone Girl', M, 1)
recommendedMovies5

[('The Fault in Our Stars', 0.14705909007675133)]

In [230]:
recommendedMovies6= get_recs('Divergent', M, 1)
recommendedMovies6

[('Interstellar', 0.23948975945528242)]

In [231]:
recommendedMovies7= get_recs('Unbroken', M, 1)
recommendedMovies7

[('Malificent', 0.26226430346247115)]

In [241]:
#American_Sniper_rating=M['Divergent'].mean()
#The_Hunger_Games_Mockingjay_Part_1_rating=M['Guardians of the Galaxy'].mean()
#The_Hobbit_rating=M['Transformers'].mean()
#Malifficent_rating=M['Transformers'].mean()
#M['The Fault in Our Stars'].mean()
#M['Interstellar'].mean()
#M['Malificent'].mean()

In [242]:
#function to give most likely rating based on the predicted movie by taking mean  
def get_ratings(movie):
    recommended_movie=get_recs(movie,M,1)
    movie_name=[i[0] for i in recommended_movie]
    movie_rating = M[movie_name].mean()
    rating=(movie,round(movie_rating))
    return rating

In [243]:
to_be_rated=['American Sniper','The Hunger Games: Mockingjay - Part 1','The Hobbit',
             'Malificent','Big Hero 6','Gone Girl','Divergent','Unbroken']

for u in to_be_rated:
    rated=get_ratings(u)
    print rated

('American Sniper', 3.0)
('The Hunger Games: Mockingjay - Part 1', 4.0)
('The Hobbit', 4.0)
('Malificent', 4.0)
('Big Hero 6', 4.0)
('Gone Girl', 4.0)
('Divergent', 5.0)
('Unbroken', 3.0)

              These ratings look good